@import "tailwindcss";
@layer utilities {
  .font-roboto {
    font-family: "Roboto Slab", sans-serif;
  }
  .font-lato {
    font-family: "Lato", sans-serif;
  }
}
@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
.animate-shimmer {
  animation: shimmer 1s infinite;
}
.showMenu {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(0%);
  transition: all 0.3s ease;
}
.hideMenu {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}
